default:
  paths:
    features: 'features'
  extensions:
    Behat\MinkExtension\Extension:
      goutte: ~
      selenium2: ~
      base_url: http://behateditor.stagingarea.us
      browser_name: firefox
      javascript_session:  'selenium2'
    Drupal\DrupalExtension\Extension:
      blackbox: ~
      subcontexts:
              paths:
                - "/full/path/here/to/search/for/sub/context/files/named/module_name/behat/inc"